h1 {
    font-size: 50px;
    text-align: start;
    margin: 20px;
    margin-bottom: 0px;
    font-style: oblique;
    }

.cuerpo{
    display: inline-flex;
    margin: 20px;
    font-family: "Comic Sans";
    font-style: oblique;
}
    
  