h1 {
    font-size: 50px;
    text-align: start;
    margin: 20px;
    margin-bottom: 0px;
    font-style: oblique;
    }

.cuerpo{
    display: inline-flex;
    margin: 20px;
    font-family: "Comic Sans";
    font-style: oblique;
}
    
.titulos{
    font-size: 25px;
    border-bottom: #ffffff 2px solid;
    padding: 10px;
    display: inline-flex;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

aside{
    margin: 0px; /*margenes*/
    padding: 0px; /*grandarie(?) letra o nose*/
    text-align: justify;
    background-image: url("azul.jpg");
    background-size: cover;
  }

.imagen{
    position:relative;
    margin:10px;
}

main{
    margin-top: 0px;
    padding: 10px;
    background-image: url("partitura.png");
    background-size: 40px;
  }