* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;
  }
  
  .calculadora {
    background: black;
    border-radius: 50px;
    color: white;
    height: 1000px;
    padding: 20px;
    position: relative;
    width: 563px;
  }
  
  .partearriba {
    display: flex;
    height: 190px;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .display {
    font-size: 120px;
    font-weight: 300;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: right;
  }
  
  .forma {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .boton {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    transition: filter .3s;
    width: 100px;
  }
  
  .funcion {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    transition: filter .3s;
    width: 100px;
    color: black;
    background: #a5a5a5;
  }
  
  .operador {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    transition: filter .3s;
    width: 100px;
    background: #f1a33c;
  }
  
  .numero0 {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    transition: filter .3s;
    width: 100px;
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 250px;
  }
  
  .boton:active,
  .boton:focus {
    filter: brightness(120%);
  }
  
  .salir {
    width: 200px;
    height: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }