* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;
}

.calculadora {
    background: black;
    border-radius: 50px;
    color: white;
    height: 900px;
    padding: 20px;
    position: relative;
    width: 463px;
}

.partearriba {
    height: 190px;
    margin-top: -5px;
    margin-left: 4px;
}

.display {
    font-size: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
}

.boton {
    align-items: center;
    background: #333;
    border-radius: 50%;
    display: flex;
    font-size: 35px;
    height: 80px;
    justify-content: center;
    width: 80px;
}

.funcion {
    align-items: center;
    background: #a5a5a5;
    border-radius: 50%;
    display: flex;
    font-size: 35px;
    height: 80px;
    width: 80px;
    justify-content: center;
    color: black;
}

.operador {
    align-items: center;
    background: #f1a33c;
    border-radius: 50%;
    display: flex;
    font-size: 35px;
    height: 80px;
    width: 80px;
    justify-content: center;
}