* {
    box-sizing: border-box;
  }

  body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;
  }

  .calculadora {
    background: black;
    border-radius: 50px;
    color: white;
    height: 1000px;
    padding: 20px;
    position: relative;
    width: 563px;
  }