canvas {
  border-left-color: white;
  border-left-width: 9px;
  border-right-color: white;
  border-right-width: 9px;
  border-top-color: white;
  border-top-width: 19px;
  background-color: black;
  border-style: solid;
  font: "CharriotDeluxe" white;
  font-size: 40px;
}

.ladrillo1{
  color: orange;
}

.ladrillo2{
  color: green;
}

.ladrillo3{
  color: red;
}

.ladrillo4{
  color: yellow;
}

body{
  text-align: center;
  border-top-width: 30px;
  background-color: gray;
}

@font-face{
  font-family:CharriotDeluxe;
  src: url("CharriotDeluxe.ttf");
}

.botones{
  align-items: center;
  border-radius: 50%;
  border: 0;
  font-size: 20px;
  height: 70px;
  justify-content: center;
  width: 70px;
  color: black;
  background: gray; /* Old browsers */
  background: -moz-linear-gradient(left, rgb(237,47,47) 0%, rgb(252,107,28) 25%, rgb(37,186,52) 50%, rgb(227,237,47) 75%) ;
  background: -webkit-linear-gradient(left, rgb(237,47,47) 0%, rgb(252,107,28) 25%, rgb(37,186,52) 50%, rgb(227,237,47) 75%);
  background: linear-gradient(to right,rgb(237,47,47) 0%, rgb(252,107,28) 25%, rgb(37,186,52) 50%, rgb(227,237,47) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6b1c', endColorstr='#2a4ad6',GradientType=6 );
}